img {
    max-width: 100%;
}

body {
    background-color: burlywood;
    text-align: center;
}

/* Mobile View */

#container {
    margin: 10px;
}


header {
    background-color: black;
    padding: 15px;
}

nav {
    text-align: center;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    background-color: lightgrey;
    display: block;
    margin: 5px 0;
    color: maroon;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-shadow: 1px 2px 2px black;
}

nav li a:hover {
    background-color: white;
    color: maroon;
    text-shadow: none;
}

section, aside {
    padding: 20px;
}

section {
    background-color: white;
}

section h1 {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1.2px 1.2px black;

}

aside {
    background-color: lightgrey;
    margin-top: 10px;
}

aside h2, aside h3 {
    text-align: center;
    text-shadow: 1px 1.2px 1.2px black;
}

aside hr {
    border-color: black;
}

footer {
    background-color: maroon;
    color: white;
    text-align: center;
}

/* Tablet Styles */

@media screen and (min-width: 768px) {
    header img {
        display: block;
        width: 65%;
        margin: 10px auto;
    }

    nav {
        background-color: black;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 300px;
    }

    section img, aside img {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        
        }

        aside h3 {
            font-size: 2.2em;
        }

        aside h2 {
            font-size: 3.3em;
        }
}

/* Desktop Styles */

@media screen and (min-width: 1024px) {
    header {
        border-radius: 40px 40px 0 0;
    }

    header img {
        width: 40%
    }

    nav li {
        margin: 0 10px;
    }

    nav li a {
        text-shadow: none;
        color: maroon;
        font-weight: bold;
        border-radius: 20px;
        height: 60px;
        width: 200px;
        line-height: 60px;
    }

    nav li a:hover {
        color: darkorange;
    }

    main {
        display: flex;
    }

    section, aside {
        margin: 10px;
    }

    section {
        width: 65%;
    }

    aside {
        width: 35%;
    }

    footer {
        border-radius: 0 0 20px 20px;
    }

}