/* global */

@font-face { src: url(fonts/Canterbury.ttf);
  font-family: canterbury;
}

body
{
  font-family: "Roboto", sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
}

.navbar
{
  background-color: lightgray;
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;
  margin: 0;
}

.navbar li
{
  display: inline-block;
  font-size: 22pt;
  margin-left: 48px;
  margin-right: 48px;
}

li.selnav
{
  border-bottom: solid 5px orange;
  font-weight: bold;
}

li > a
{
  text-decoration: none;
  color: black;
}

img.logo
{
  height: 50px;
  position: absolute;
  top: 0px;
  left: 20px;
}

/* home */

h1
{
  text-align: center;
  font-size: 72pt;
  font-family: canterbury;

  color: white;
}

h3
{
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 16pt;
  font-style: italic;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
  top: 600px;
}

img.home-bkg-anim
{
  width: 100%;
  height: 500px;
  position: absolute;
  opacity: 0.3;
}

img.home-logo
{
  width: 200px;
  position:fixed;
  left: 50px;
  top: 100px;
  opacity: 0.50;
}

/* products */

ul.products
{
  padding: 0;
}

ul.products li
{
  position: relative;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

ul.products li *
{
  vertical-align: middle;
}

ul.products li imgcontainer
{
  display: inline-block;
  width: 240px;
  border: solid 1px red;
  text-align: center;
  background-color: rgb(158, 98, 70);
  border: solid 3px black;
  transition: 0.5s ease;
  opacity: 1;
}

ul.products li imgcontainer overlay
{
  position: absolute;
  left: 65px;
  top: 70px;
  opacity: 0;
}

ul.products li imgcontainer overlay img
{
  height: 100px;
}

ul.products li imgcontainer img
{
  height: 200px;
}

ul.products li imgcontainer:hover 
{
  opacity: 0.3;
}

ul.products li imgcontainer:hover overlay
{
  opacity: 1;
}

ul.products li > price
{
  font-family: "Comic Neue", sans-serif;
  font-size: 32px;
  font-weight: bold;
  border: solid 3px black;
  position: absolute;
  bottom: 20px;
  margin-left: 5px;
}

ul.products li > name
{
  font-family: "Ultra", serif;
  font-size: 32pt;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 90px;
  width: 500px;
  text-align: center;
}

/* process */

ul.process
{
  padding: 0;
  background-color: white;
}

ul.process li
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

ul.process li img
{
  height: 300px;
  margin: 4px;
}

ul.process li info
{
  flex: 200px;
  margin: 4px;
  background-color: black;
  color: white;
  font-family: "Bree Serif", serif;
  padding: 24px;
}

info label
{
  display: block;
  font-size: 32pt;
  text-align: center;
  margin-bottom: 16px;
}

info description
{
  display: block;
  font-size: 18pt;
  text-align: center;
}

/* about */

ul.about
{
  padding: 0;
  background-color: white;
  margin: 0;
}

ul.about li
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  margin-bottom: 4px;
  padding: 15px;
}

ul.about li img
{
  height: 250px;
  margin: 4px;
}

ul.about li info
{
  flex: 200px;
  margin: 4px;
  background-color: black;
  color: white;
  font-family: "Bree Serif", serif;
  padding: 24px;
  text-align: center;
}

ul.about li info label
{
  display: block;
  font-size: 24pt;
  text-align: center;
  margin-bottom: 16px;
}

ul.about li info figcaption
{
  font-size: 20pt;
  margin-bottom: 10px;
}

ul.about li info description
{
  display: inline-block;
  font-size: 12pt;
  text-align: center;
}

ul.about li info table
{
  width: 100%;
  font-size: 12pt;
  text-align: left;
  border-collapse: collapse;
  margin-top: 100px;
}

ul.about li info table th
{
  color: black;
  background-color: skyblue;
  padding: 8px;
}

ul.about li info table td
{
  padding: 8px;
  border-bottom: solid 2px white;
}

/* contact */

ul.contact
{
  padding: 0;
  margin: 0;
}

ul.contact li
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  margin-bottom: 4px;
  text-align: center;
}

ul.contact li img
{
  height: 450px;
  margin: 20px;
}

ul.contact li info
{
  flex: 200px;
  margin: 4px;
  background-color: black;
  color: white;
  font-family: "Bree Serif", serif;
  text-align: center;
}

ul.contact li info label
{
  display: block;
  font-size: 24pt;
  text-align: center;
  margin-bottom: 16px;
}

ul.contact li info description
{
  font-size: 16pt;
  text-align: center;
}
